:root {
  --color-bg-color: #FEFEFE;
  --color-text-color: #09080A;
  --color-card-bg-clr: #F7F6F8;
  --color-primary-30: #9AD0FF;
  --color-primary-50: #BDE0FF;
  --color-primary-70: #CBE7FF;
  --color-secondary-30: #9EDCAC;
  --color-secondary-50: #D2F1D9;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    line-height: 1.0;
}
/* GENERAL ELEMENTS */
.section {
  padding: 150px 32px;
}

@media (max-width: 768px) {
  .section {
    padding: 75px 20px;
  }
}

@media (min-width: 768px) {
  .section {
    margin: 0 auto;
  }
}
h1, h2 {
  line-height: 1.0;
}

.btn-text {
  display: inline-block;
  border: 2px solid var(--color-text-color);
  text-decoration: underline;
  font-weight: 500;
  background-color: var(--color-primary-30);
  border-radius: 999px;
  cursor: pointer;
  transition: all 0.3s;
}

img {
  transition: filter 0.5s;
}
.lazy-img {
  filter: blur(20px);
}
/* nav and stickly class at the same time */
.nav.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
}
.nav__logo {
  transition: all 0.3s;
}
.nav__link:link,
.nav__link:visited {
  font-size: 1.7rem;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}
.nav__link--btn:link,
.nav__link--btn:visited {
  padding: 0.8rem 2.5rem;
  border-radius: 3rem;
  background-color: var(--color-primary);
  color: #222;
}

.nav__link--btn:hover,
.nav__link--btn:active {
  color: inherit;
  background-color: var(--color-primary-darker);
  color: #333;
}

/* SLIDER */
.slider {
  max-width: 100rem;
  margin: 0 auto;
  position: relative;

  /* IN THE END */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;

  /* THIS creates the animation! */
  transition: transform 1s;
}



@media only screen and (max-width: 480px) {
  .operations__tab .operation_btnHid {
    display: none;
  } 
  .operations__tab.operations__tab--active .operation_btnHid {
    display: inline;
  }
}
.operation__content.operations__content--active {
  display: flex;
  flex-direction: column;
}
.operation__content {
  display: none;
}