:root {
  --color-bg-color: #FEFEFE;
  --color-text-color: #09080A;
  --color-card-bg-clr: #F7F6F8;
  --color-primary-30: #9AD0FF;
  --color-primary-50: #BDE0FF;
  --color-primary-70: #CBE7FF;
  --color-secondary-30: #9EDCAC;
  --color-secondary-50: #D2F1D9;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    line-height: 1.0;
}
/* GENERAL ELEMENTS */
.section {
  padding: 150px 32px;
}

@media (max-width: 768px) {
  .section {
    padding: 75px 20px;
  }
}

@media (min-width: 768px) {
  .section {
    margin: 0 auto;
  }
}
h1, h2 {
  line-height: 1.0;
}

.btn-text {
  display: inline-block;
  border: 2px solid var(--color-text-color);
  text-decoration: underline;
  font-weight: 500;
  background-color: var(--color-primary-30);
  border-radius: 999px;
  cursor: pointer;
  transition: all 0.3s;
}

img {
  transition: filter 0.5s;
}
.lazy-img {
  filter: blur(20px);
}
/* nav and stickly class at the same time */
.nav.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
}
.nav__logo {
  transition: all 0.3s;
}
.nav__link:link,
.nav__link:visited {
  transition: all 0.3s;
}

/* SLIDER */
.slider {
  max-width: 763px;
  margin: 0 auto;
  position: relative;

  /* IN THE END */
  overflow: hidden;
}

.slide {
  width: 100%;


  /* THIS creates the animation! */
  transition: transform 1s;
}


@media only screen and (max-width: 480px) {
  .operations__tab--active .operation_btnHid {
    display: inline-block;
  }
}
.operations__content--active {
  display: grid;
  column-gap: 3rem;
  row-gap: 0.5rem;
}
/* .operations__content {
  display: none;
} */



/* MODAL WINDOW */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background-color: #f3f3f3;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.modal__header {
  font-size: 3.25rem;
  margin-bottom: 4.5rem;
  line-height: 1.5;
}

.modal__form {
  margin: 0 3rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 2.5rem;
}

.modal__form label {
  font-size: 1.7rem;
  font-weight: 500;
}

.modal__form input {
  font-size: 1.7rem;
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

.modal__form button {
  grid-column: 1 / span 2;
  justify-self: center;
  margin-top: 1rem;
}

.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}