:root {
  --color-bg-color: #FEFEFE;
  --color-text-color: #09080A;
  --color-card-bg-clr: #F7F6F8;
  --color-primary-30: #9AD0FF;
  --color-primary-50: #BDE0FF;
  --color-primary-70: #CBE7FF;
  --color-secondary-30: #9EDCAC;
  --color-secondary-50: #D2F1D9;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    line-height: 1.0;
}
/* GENERAL ELEMENTS */
.section {
  padding: 150px 32px;
}

@media (max-width: 768px) {
  .section {
    padding: 75px 20px;
  }
}

/* .section {
  padding: 15rem 3rem;
  border-top: 1px solid #ddd;

  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.section__title {
  max-width: 80rem;
  margin: 0 auto 8rem auto;
}

.section__description {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.section__header {
  font-size: 4rem;
  line-height: 1.3;
  font-weight: 500;
} */
/* .btn {
  display: inline-block;
  background-color: var(--color-primary);
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 1.25rem 4.5rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background-color: var(--color-primary-darker);
} */

.btn-text {
  display: inline-block;
  border: 2px solid var(--color-text-color);
  text-decoration: underline;
  font-weight: 500;
  background-color: var(--color-primary-30);
  border-radius: 999px;
  cursor: pointer;
  transition: all 0.3s;
}

img {
  transition: filter 0.5s;
}
.lazy-img {
  filter: blur(20px);
}
/* nav and stickly class at the same time */
.nav.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
}
.nav__logo {
  transition: all 0.3s;
}
.nav__link:link,
.nav__link:visited {
  font-size: 1.7rem;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}
.nav__link--btn:link,
.nav__link--btn:visited {
  padding: 0.8rem 2.5rem;
  border-radius: 3rem;
  background-color: var(--color-primary);
  color: #222;
}

.nav__link--btn:hover,
.nav__link--btn:active {
  color: inherit;
  background-color: var(--color-primary-darker);
  color: #333;
}

/* HEADER */
/* .header__title {
    display: grid;
  grid-template-columns: 3fr 2fr;
  row-gap: 3rem;
} */